.user {
    width: 18vw;
    position: relative;
    left: 75vw;
    bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.btn {
    color: black !important;
    border-color: black !important;
}

.welcome {
    font-family: "McLaren", cursive;
    text-align: center;
}

.login {
    border: 2px solid rgb(177, 167, 167) !important;
    font-family: "McLaren", cursive;
    text-align: center;
    margin: 10vh 30vw !important;
    border-radius: 25px;
}

.form {
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 0;
}

.loginBtn {
    padding: 10px 20px !important;
}

.signupBtn {
    padding: 10px 20px !important;
}

@media screen and (max-width: 768px) {
    .login {
        margin: 10vh 9vw !important;
    }
    .form {
        height: 60vh;
    }
    .user {
        width: 40vw;
        left: 50vw;
        gap: 10px;
    }
    .btn {
        font-size: 0rem !important;
    }
}